<%= form_with(model: userworkout) do |form| %>
  <% if userworkout.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(userworkout.errors.count, "error") %> prohibited this userworkout from being saved:</h2>

      <ul>
        <% userworkout.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :exercise, style: "display: block" %>
    <%= form.text_field :exercise %>
  </div>

  <div>
    <%= form.label :User_id, style: "display: block" %>
    <%= form.text_field :User_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
